<!--The content below is only a placeholder and can be replaced.-->
<div class="inventory-app">
  <app-product-list
    [productList]="products"
    (onProductSelected)="productWasSelected($event)">

  </app-product-list>

  <input type="text" #colorinput value={{color}} placeholder="input a color you want">

  <input type="text" #fontinput value={{font}} placeholder="input a font-size you want">
  <button (click)="applySetting(colorinput.value, fontinput.value)">Apply Setting</button>
  <div [style.font-size.px]="font" [style.color]="color">change me plz.</div>

  <app-forms-demo></app-forms-demo>
</div>

